body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:985px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u959 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
}
#u960 {
  position:absolute;
  left:14px;
  top:22px;
  width:59px;
  height:24px;
}
#u961 {
  position:absolute;
  left:2px;
  top:4px;
  width:55px;
  word-wrap:break-word;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u962 {
  position:absolute;
  left:169px;
  top:23px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:89px;
}
#u964 {
  position:absolute;
  left:91px;
  top:119px;
  width:194px;
  height:88px;
}
#u965 {
  position:absolute;
  left:2px;
  top:36px;
  width:190px;
  word-wrap:break-word;
}
#u966 {
  position:absolute;
  left:53px;
  top:238px;
  width:269px;
  height:30px;
}
#u966_input {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u967 {
  position:absolute;
  left:246px;
  top:243px;
  width:70px;
  height:20px;
}
#u968 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u969 {
  position:absolute;
  left:53px;
  top:278px;
  width:269px;
  height:30px;
}
#u969_input {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u970 {
  position:absolute;
  left:117px;
  top:340px;
  width:141px;
  height:40px;
}
#u971 {
  position:absolute;
  left:2px;
  top:12px;
  width:137px;
  word-wrap:break-word;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u972 {
  position:absolute;
  left:291px;
  top:318px;
  width:31px;
  height:20px;
}
#u973 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u974_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u974 {
  position:absolute;
  left:271px;
  top:216px;
  width:20px;
  height:27px;
}
#u975 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u976_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u976 {
  position:absolute;
  left:419px;
  top:30px;
  width:20px;
  height:27px;
}
#u977 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:150px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u978 {
  position:absolute;
  left:449px;
  top:30px;
  width:286px;
  height:150px;
}
#u979 {
  position:absolute;
  left:10px;
  top:10px;
  width:266px;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u980 {
  position:absolute;
  left:64px;
  top:305px;
  width:20px;
  height:27px;
}
#u981 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u982 {
  position:absolute;
  left:419px;
  top:188px;
  width:20px;
  height:27px;
}
#u983 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:150px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u984 {
  position:absolute;
  left:449px;
  top:190px;
  width:286px;
  height:150px;
}
#u985 {
  position:absolute;
  left:10px;
  top:10px;
  width:266px;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u986 {
  position:absolute;
  left:169px;
  top:318px;
  width:20px;
  height:27px;
}
#u987 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u988 {
  position:absolute;
  left:42px;
  top:0px;
  width:20px;
  height:27px;
}
#u989 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u990 {
  position:absolute;
  left:419px;
  top:353px;
  width:20px;
  height:27px;
}
#u991 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:150px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u992 {
  position:absolute;
  left:449px;
  top:353px;
  width:286px;
  height:150px;
}
#u993 {
  position:absolute;
  left:10px;
  top:10px;
  width:266px;
  word-wrap:break-word;
}
#u994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:110px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u994 {
  position:absolute;
  left:790px;
  top:401px;
  width:71px;
  height:110px;
}
#u995 {
  position:absolute;
  left:2px;
  top:47px;
  width:67px;
  word-wrap:break-word;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:110px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u996 {
  position:absolute;
  left:790px;
  top:401px;
  width:71px;
  height:110px;
}
#u997 {
  position:absolute;
  left:2px;
  top:47px;
  width:67px;
  word-wrap:break-word;
}
#u998 {
  position:absolute;
  left:782px;
  top:353px;
  width:87px;
  height:38px;
}
#u998_input {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:38px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u999 {
  position:absolute;
  left:842px;
  top:0px;
  width:143px;
  height:103px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:44px;
  width:139px;
  word-wrap:break-word;
}
#u1001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1001 {
  position:absolute;
  left:449px;
  top:523px;
  width:150px;
  height:150px;
}
#u1002 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u1003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:26px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1003 {
  position:absolute;
  left:0px;
  top:55px;
  width:375px;
  height:26px;
  color:#FFFFFF;
}
#u1004 {
  position:absolute;
  left:2px;
  top:5px;
  width:371px;
  word-wrap:break-word;
}
#u1005_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u1005 {
  position:absolute;
  left:265px;
  top:30px;
  width:20px;
  height:27px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u1007 {
  position:absolute;
  left:419px;
  top:523px;
  width:20px;
  height:27px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
