body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:685px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1533 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:685px;
}
#u1534 {
  position:absolute;
  left:2px;
  top:334px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u1535 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1536 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  word-wrap:break-word;
}
#u1537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1537 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:40px;
}
#u1538 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1539 {
  position:absolute;
  left:14px;
  top:32px;
  width:45px;
  height:16px;
}
#u1540 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1541 {
  position:absolute;
  left:159px;
  top:32px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1542 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1543 {
  position:absolute;
  left:0px;
  top:17px;
  width:54px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:545px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1544 {
  position:absolute;
  left:0px;
  top:60px;
  width:375px;
  height:545px;
}
#u1545 {
  position:absolute;
  left:2px;
  top:264px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1546 {
  position:absolute;
  left:109px;
  top:81px;
  width:136px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1547 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u1548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1548 {
  position:absolute;
  left:109px;
  top:119px;
  width:137px;
  height:16px;
  color:#999999;
}
#u1549 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u1550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1550 {
  position:absolute;
  left:128px;
  top:161px;
  width:100px;
  height:40px;
}
#u1551 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u1552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1552 {
  position:absolute;
  left:51px;
  top:227px;
  width:127px;
  height:16px;
  color:#999999;
}
#u1553 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:260px;
}
#u1554 {
  position:absolute;
  left:17px;
  top:325px;
  width:324px;
  height:260px;
  line-height:20px;
}
#u1555 {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  word-wrap:break-word;
}
#u1556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1556 {
  position:absolute;
  left:51px;
  top:266px;
  width:135px;
  height:16px;
  color:#999999;
}
#u1557 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u1558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:2px;
}
#u1558 {
  position:absolute;
  left:51px;
  top:255px;
  width:255px;
  height:1px;
}
#u1559 {
  position:absolute;
  left:2px;
  top:-8px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:2px;
}
#u1560 {
  position:absolute;
  left:51px;
  top:292px;
  width:255px;
  height:1px;
}
#u1561 {
  position:absolute;
  left:2px;
  top:-8px;
  width:251px;
  visibility:hidden;
  word-wrap:break-word;
}
