body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1058px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1641 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1642 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u1643 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1644 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  word-wrap:break-word;
}
#u1645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1645 {
  position:absolute;
  left:0px;
  top:60px;
  width:375px;
  height:112px;
}
#u1646 {
  position:absolute;
  left:2px;
  top:48px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1647 {
  position:absolute;
  left:104px;
  top:281px;
  width:168px;
  height:40px;
}
#u1647_input {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1648 {
  position:absolute;
  left:0px;
  top:20px;
  width:375px;
  height:40px;
}
#u1649 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1650 {
  position:absolute;
  left:14px;
  top:32px;
  width:45px;
  height:16px;
}
#u1651 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1652 {
  position:absolute;
  left:170px;
  top:32px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1653 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1654 {
  position:absolute;
  left:273px;
  top:32px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1655 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1656 {
  position:absolute;
  left:40px;
  top:81px;
  width:85px;
  height:16px;
}
#u1657 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1658 {
  position:absolute;
  left:50px;
  top:118px;
  width:75px;
  height:16px;
}
#u1659 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u1660 {
  position:absolute;
  left:196px;
  top:81px;
  width:132px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u1661 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u1662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u1662 {
  position:absolute;
  left:196px;
  top:118px;
  width:132px;
  height:16px;
  font-size:13px;
  color:#999999;
}
#u1663 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u1664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1664 {
  position:absolute;
  left:0px;
  top:182px;
  width:375px;
  height:46px;
}
#u1665 {
  position:absolute;
  left:2px;
  top:15px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1666 {
  position:absolute;
  left:50px;
  top:197px;
  width:57px;
  height:16px;
}
#u1667 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1668 {
  position:absolute;
  left:143px;
  top:193px;
  width:185px;
  height:25px;
}
#u1668_input {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1669 {
  position:absolute;
  left:343px;
  top:198px;
  width:15px;
  height:16px;
}
#u1670 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1671 {
  position:absolute;
  left:80px;
  top:244px;
  width:211px;
  height:16px;
}
#u1672 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u1673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:236px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1673 {
  position:absolute;
  left:0px;
  top:331px;
  width:375px;
  height:236px;
}
#u1674 {
  position:absolute;
  left:2px;
  top:110px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:24px;
}
#u1675 {
  position:absolute;
  left:38px;
  top:353px;
  width:300px;
  height:192px;
  line-height:24px;
}
#u1676 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1677 {
  position:absolute;
  left:438px;
  top:32px;
  width:150px;
  height:150px;
}
#u1678 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u1679_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u1679 {
  position:absolute;
  left:178px;
  top:218px;
  width:20px;
  height:27px;
}
#u1680 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u1681_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u1681 {
  position:absolute;
  left:160px;
  top:345px;
  width:20px;
  height:27px;
}
#u1682 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u1683_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u1683 {
  position:absolute;
  left:399px;
  top:32px;
  width:20px;
  height:27px;
}
#u1684 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u1685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1685 {
  position:absolute;
  left:438px;
  top:201px;
  width:150px;
  height:150px;
}
#u1686 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u1687_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u1687 {
  position:absolute;
  left:399px;
  top:201px;
  width:20px;
  height:27px;
}
#u1688 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u1689 {
  position:absolute;
  left:222px;
  top:241px;
  width:80px;
  height:22px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u1690 {
  position:absolute;
  left:40px;
  top:144px;
  width:122px;
  height:20px;
  text-decoration:underline;
}
#u1691 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  white-space:nowrap;
}
#u1692_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u1692 {
  position:absolute;
  left:142px;
  top:118px;
  width:20px;
  height:27px;
}
#u1693 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u1694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1694 {
  position:absolute;
  left:438px;
  top:361px;
  width:150px;
  height:150px;
}
#u1695 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u1696_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u1696 {
  position:absolute;
  left:399px;
  top:361px;
  width:20px;
  height:27px;
}
#u1697 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u1698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u1698 {
  position:absolute;
  left:271px;
  top:144px;
  width:57px;
  height:20px;
  text-decoration:underline;
}
#u1699 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1700 {
  position:absolute;
  left:683px;
  top:0px;
  width:375px;
  height:667px;
}
#u1701 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:21px;
}
#u1702 {
  position:absolute;
  left:683px;
  top:0px;
  width:375px;
  height:20px;
}
#u1703 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  word-wrap:break-word;
}
#u1704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1704 {
  position:absolute;
  left:683px;
  top:20px;
  width:375px;
  height:40px;
}
#u1705 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1706 {
  position:absolute;
  left:697px;
  top:32px;
  width:45px;
  height:16px;
}
#u1707 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u1708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1708 {
  position:absolute;
  left:853px;
  top:32px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1709 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1710 {
  position:absolute;
  left:956px;
  top:32px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1711 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1712 {
  position:absolute;
  left:825px;
  top:174px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1713 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1714 {
  position:absolute;
  left:797px;
  top:281px;
  width:140px;
  height:25px;
}
#u1714_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1715 {
  position:absolute;
  left:742px;
  top:380px;
  visibility:hidden;
}
#u1715_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1715_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:240px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1716 {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:240px;
  text-align:left;
}
#u1717 {
  position:absolute;
  left:2px;
  top:112px;
  width:254px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1718 {
  position:absolute;
  left:25px;
  top:156px;
  width:93px;
  height:35px;
}
#u1718_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:35px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1719 {
  position:absolute;
  left:59px;
  top:44px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1720 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1721 {
  position:absolute;
  left:45px;
  top:96px;
  width:169px;
  height:16px;
}
#u1722 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1723 {
  position:absolute;
  left:142px;
  top:156px;
  width:93px;
  height:35px;
}
#u1723_input {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:35px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1724 {
  position:absolute;
  left:238px;
  top:0px;
  width:20px;
  height:20px;
}
#u1725 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1726 {
  position:absolute;
  left:797px;
  top:235px;
  width:140px;
  height:25px;
}
#u1726_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1727_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u1727 {
  position:absolute;
  left:861px;
  top:206px;
  width:20px;
  height:27px;
}
#u1728 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
#u1729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:194px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1729 {
  position:absolute;
  left:438px;
  top:528px;
  width:223px;
  height:194px;
}
#u1730 {
  position:absolute;
  left:10px;
  top:10px;
  width:203px;
  word-wrap:break-word;
}
#u1731_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:37px;
}
#u1731 {
  position:absolute;
  left:399px;
  top:528px;
  width:20px;
  height:27px;
}
#u1732 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  word-wrap:break-word;
}
