body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:845px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:705px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u747 {
  position:absolute;
  left:87px;
  top:84px;
  width:253px;
  height:705px;
}
#u748 {
  position:absolute;
  left:2px;
  top:344px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:705px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u749 {
  position:absolute;
  left:340px;
  top:84px;
  width:252px;
  height:705px;
}
#u750 {
  position:absolute;
  left:2px;
  top:344px;
  width:248px;
  visibility:hidden;
  word-wrap:break-word;
}
#u751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u751 {
  position:absolute;
  left:196px;
  top:112px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u752 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u753 {
  position:absolute;
  left:439px;
  top:112px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u754 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:705px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u755 {
  position:absolute;
  left:592px;
  top:84px;
  width:253px;
  height:705px;
}
#u756 {
  position:absolute;
  left:2px;
  top:344px;
  width:249px;
  visibility:hidden;
  word-wrap:break-word;
}
#u757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u757 {
  position:absolute;
  left:692px;
  top:112px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u758 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u759 {
  position:absolute;
  left:154px;
  top:186px;
  width:122px;
  height:44px;
}
#u760 {
  position:absolute;
  left:2px;
  top:14px;
  width:118px;
  word-wrap:break-word;
}
#u761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u761 {
  position:absolute;
  left:154px;
  top:273px;
  width:122px;
  height:44px;
}
#u762 {
  position:absolute;
  left:2px;
  top:14px;
  width:118px;
  word-wrap:break-word;
}
#u763 {
  position:absolute;
  left:215px;
  top:230px;
  width:0px;
  height:0px;
  color:#000000;
}
#u763_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u763_seg1 {
  position:absolute;
  left:-10px;
  top:29px;
  width:20px;
  height:21px;
}
#u764 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u765 {
  position:absolute;
  left:406px;
  top:273px;
  width:122px;
  height:44px;
}
#u766 {
  position:absolute;
  left:2px;
  top:14px;
  width:118px;
  word-wrap:break-word;
}
#u767 {
  position:absolute;
  left:276px;
  top:295px;
  width:0px;
  height:0px;
  color:#000000;
}
#u767_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:134px;
  height:8px;
}
#u767_seg1 {
  position:absolute;
  left:116px;
  top:-10px;
  width:21px;
  height:20px;
}
#u768 {
  position:absolute;
  left:15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u769 {
  position:absolute;
  left:154px;
  top:360px;
  width:122px;
  height:44px;
}
#u770 {
  position:absolute;
  left:2px;
  top:14px;
  width:118px;
  word-wrap:break-word;
}
#u771 {
  position:absolute;
  left:467px;
  top:317px;
  width:0px;
  height:0px;
  color:#000000;
}
#u771_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:69px;
}
#u771_seg1 {
  position:absolute;
  left:-191px;
  top:61px;
  width:195px;
  height:8px;
}
#u771_seg2 {
  position:absolute;
  left:-198px;
  top:55px;
  width:21px;
  height:20px;
}
#u772 {
  position:absolute;
  left:-113px;
  top:57px;
  width:100px;
  word-wrap:break-word;
}
#u773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u773 {
  position:absolute;
  left:154px;
  top:443px;
  width:122px;
  height:44px;
}
#u774 {
  position:absolute;
  left:2px;
  top:14px;
  width:118px;
  word-wrap:break-word;
}
#u775 {
  position:absolute;
  left:215px;
  top:404px;
  width:0px;
  height:0px;
  color:#000000;
}
#u775_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u775_seg1 {
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:21px;
}
#u776 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u777 {
  position:absolute;
  left:659px;
  top:443px;
  width:122px;
  height:44px;
}
#u778 {
  position:absolute;
  left:2px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u779 {
  position:absolute;
  left:659px;
  top:526px;
  width:122px;
  height:44px;
}
#u780 {
  position:absolute;
  left:2px;
  top:14px;
  width:118px;
  word-wrap:break-word;
}
#u781 {
  position:absolute;
  left:720px;
  top:487px;
  width:0px;
  height:0px;
  color:#000000;
}
#u781_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u781_seg1 {
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:21px;
}
#u782 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u783 {
  position:absolute;
  left:276px;
  top:465px;
  width:0px;
  height:0px;
  color:#000000;
}
#u783_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:387px;
  height:8px;
}
#u783_seg1 {
  position:absolute;
  left:369px;
  top:-10px;
  width:21px;
  height:20px;
}
#u784 {
  position:absolute;
  left:142px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
